VITE_API_URL=https://api.codagenz.com/api/v1
VITE_STUDENT_URL=https://apesudom.codagenz.com

VITE_REVERB_APP_KEY=zuehdoeluljaqyepsijp #must be same as instructor and backend
VITE_REVERB_HOST=api.codagenz.com
VITE_REVERB_PORT=443
VITE_REVERB_SCHEME=https
